<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="default.css")
        title Home
    body
        h2 Cart
        ul
            each item, index in cart
                li= item.name + ', ' + item.quantity
        p Total items #{cartItems}